# ignore these folders
.git
.cache
.settings
bin
build
!build/libs/*.jar

# ignore these files
.project
.classpath
.gitignore
.dockerignore
.gradle

# we are using a Linus based image. No need to copy bat files in there
gradlew.bat

# ignore all Docker/demo files files
*Dockerfile*
docker-compose.yml
healthcheck
build.sh
build-bad-image-manually.sh

# ignore all *.class files in all folders, including build root
*.class

# ignore all markdown files (md) besides README.md
*.md
