# Don't
# FROM alpine

# Do
# Pin the version
# FROM alpine:3.9
# USAGE
# docker build -t my-alpine -f 010-Dockerfile.from.sample .

# OR Use ARG to set it at build time
ARG version=3.9
FROM alpine:${version}
# USAGE
# docker build --build-arg version=3.7 -t my-alpine -f 010-Dockerfile.from.sample .
