FROM alpine:3.9
# Do
ARG PROJECT_VERSION
# Do
# Default them if set dynamically
ENV PROJECT_VERSION ${PROJECT_VERSION:-2.3}

# USAGE
# docker build -f 030-Dockerfile.env.sample -t test .
# docker run test env
