FROM ubuntu:19.10

# Don't
# RUN apt-get update
# RUN apt-get install -y netcat=1.10-41.1
# RUN apt-get clean

# Do
RUN apt-get update \
  && apt-get install -y --no-install-recommends \
  netcat=1.10-41.1  \
  && apt-get clean \
  && rm -rf /var/lib/apt/lists/*

# USAGE
# docker build -f 050-Dockerfile.run.sample -t test .
