FROM alpine:3.9

# explodes the tarball
ADD nginx-1.9.9.tar.gz /tmp/addFromFs/
# simply downloads it
ADD http://nginx.org/download/nginx-1.9.9.tar.gz /tmp/addFromUrl/


# simply copies it over
COPY nginx-1.9.9.tar.gz /tmp/fromCopy/nginx-1.9.9.tar.gz

