<!DOCTYPE html>
<html>

<head>
  <title>Docker Workshop</title>

  <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer"
        aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="#">DW</a>

      <div class="collapse navbar-collapse" id="navbarsExampleContainer">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index.hbs">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friends.hbs">Friends</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container" role="main">
    <div class="jumbotron">
      <h1>My Awesome Contacts</h1>
    </div>
  </div>
  <section class="container">
    {{#block "content" }} {{/block}}
  </section>
</body>

<script src="/assets/scripts/jquery.js"></script>
<script src="/assets/scripts/tether.min.js"></script>
<script src="/assets/scripts/bootstrap.js"></script>

</html>
